@font-face {
    font-family: JosefinSans-Thin;
    src: url(/resources/font/JosefinSans-Thin.ttf);
}

body {
    padding-top: 300px;
    background-color: #c4e3f3;
    opacity: 0.6;
    text-align: center;
}

div {
    font-family: JosefinSans-Thin, serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

A {
    text-decoration: none;
}